
<nav class="logout">
  <ul>
    <li>
      <form action="/discover" method="get">
        <input type="submit" value="Discover">
      </form>
    </li>
    <li>
      <form action="/sessions/<%= current_user.id %>" method="post">
        <input name="_method" type="hidden" value="delete" />
        <input type="submit" value="Sign Out">
      </form>
    </li>
  </ul>
</nav>

<div class="user_profile_panel">

    <div class="profile_picture">
      <img src="" alt="profile_pic">
    </div>
    <% unless current_user==@user %>
    <button class="follow">Follow</button>
    <% end %>
    <ul>
      Username:
      <li class="user"><%=@user.username%></li>
      <li>Bio:</li>
    </ul>

    <div class="motivators">
      <p>People who inspire me:</p>
      <ul>
        <%@user.motivators.each do |motivator| %>
        <li><%= motivator.username%></li>
        <% end%>
      </ul>
    </div>

</div>

<div class="wall">
  <% if current_user==@user %>
  <div class="add_quote">
    <form action="/users/<%= current_user.id %>/wall/new" method="post">
      <input type="text" name="quote" placeholder="Add a New Quote Here">
      <input type="text" name="author" placeholder="Author">
      <input type="submit">
    </form>
  </div>
  <% end%>
  <% @user.quotes.each do |quote| %>
    <div class="quote">
      <p>
        <%=  quote.quote %> - <%= quote.author %>
      </p>
    </div>
  <% end %>
</div>